* {
     margin: 0;
     padding: 0;
}

.nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
}

.nav h1 {
     margin: 0;
     padding: 0;
     display: inline-block;
}

#class {
     font-size: 20px;
     color: rgb(0, 0, 0);
     line-height: 0;
     margin-left: 5px;
}

#userInfo {
     display: flex;
     justify-content: center;
     align-items: center;
}

#userInfo h1 {
     font-size: 25px;
     color: rgb(0, 0, 0);
     line-height: 0;
}

#userInfo h1 span {
     font-weight: bold;
}

#userInfo img {
     width: 50px;
}

.left-nav {
     display: flex;
     justify-content: center;
     align-items: center;
}

.main {
     display: flex;
}

.sidebar {
     width: 15%;
     margin: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 5px;
     height: 100%;
}

.sidenav {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 5px;
}

.sidebar button {
     width: 80%;
     margin-bottom: 3px;
}

#contain {
     display: flex;
     justify-content: center;
     width: 85%;
     overflow: auto;
}

#createClassForm {
     margin-top: 20px;
     width: 60%;
     height: auto;
}

.inputs {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

#createClassForm .input-field {
     width: 80%;
}

@media screen and (min-width: 993px) {
     .sidenav-trigger {
          display: none;
     }
}

@media screen and (max-width: 992px) {
     .sidenav-trigger {
          display: block;
     }

     .sidebar {
          display: none;
     }
}
